*{
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: radial-gradient(circle,
  rgb(138, 138, 138) 28%,
  rgb(185, 185, 185) 65%,
  rgba(226, 226, 226, 1) 100%);
}
.nav{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nav img{
  width: 5%;
}
#cart{
  margin-left: 80%;
}
#menu{
  margin-left: 3%;
}

.topsection{
  margin: 5% 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 98%;
}
.topsection h2{
  cursor: pointer;
}


#discount{
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
  transition: transform 0.5s;
}
#discount:hover{
  -webkit-text-fill-color: #000;
  transform: translateY(-10px);
}
.main-news{
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.banner{
  margin: 0 auto;
  height: 250px;
  width: 90%;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 6px 6px rgba(0, 0, 0, 0.3); 
}
#colored-banner{
  background: rgb(156, 65, 156);
}
.belowBanner{
  display: flex;
  row-gap: 20%;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: space-around;
  
}
.card{
  margin-top: 5%;
  background: white;
  height: 300px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2); 
}


#news{
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
  transition: transform 0.5s;
}
#news:hover{
  -webkit-text-fill-color: #000;
  transform: translateY(-10px);
}
.main-news{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main-news div{
  margin-top: 5%;
}

#collection{
  font-size: 30px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #000;
  transition: transform 0.5s;
}
#collection:hover{
  -webkit-text-fill-color: #000;
  transform: translateY(-10px);
}
#one{
  display: block;
}
#two{
  display: none;
}
#three{
  display: none;
}

.belowCollections{
  display: flex;
  row-gap: 10%;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: space-around;
}
.saleCard{
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  margin-top: 5%;
  background: white;
  height: 300px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 6px 6px rgba(0, 0, 0, 0.2); 
}
.saleCard:hover{
  background: rgb(156, 65, 156);
  color: white;
}
.saleCard img{
  width: 98%;
}
@media screen and (max-width: 425px) {
  #discount{
    font-size: 28px;
  }
  #news{
    font-size: 28px;
  }
  #collection{
    font-size: 28px;
  }
  .belowBanner{
    row-gap: 10%;
  }
  .card{
    height: 280px;
    width: 45%;
  }
  .saleCard{
    height: 270px;
    width: 45%;
  }
}
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 320px) {
  
}